body {
  display: grid;
  justify-content: center;
}
button {
  border: 1px solid #808080;
  border-radius: 8px;
  font-size: 20px;
  height: 36px;
}

#clear-key {
  background: #bc8f8f;
  color: #000000;
  margin: 4px 0;
}

#displayValue {
  background: #000000;
  border-radius: 8px;
  color: #ffffff;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

#equal-key {
  background: #8fbc8f;
  margin: 4px 0;
}

.main {
  text-align: center;
}

.main-container {
  background: #b0e0e6;
  border-radius: 8px;
  padding: 4px;
}

.wrapper {
  display: grid;
  gap: 8px 4px;
  grid-template-columns: repeat(3, 1fr);
  margin: 4px 0;
}

.wrapper-last-row {
  display: grid;
  gap: 8px 4px;
  grid-template-columns: 1fr 2fr;
}


